
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    font-size: calc(12px + 1vw);
    font-family: 'Rajdhani', sans-serif;
    color: white;
    --w: 70%;
}

/* GENERAL */

body {
    position: relative;
    background: url(Images/earth.jpg) top no-repeat, black;
    background-size: 100% auto;
    margin: auto;
    padding: 0;
    margin: 0;
}

body::after {
    content: "";
    position: absolute;
    top: 30rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, black, transparent 30%), url("https://www.transparenttextures.com/patterns/stardust.png");
    background-size: 20%;
    z-index: -1;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#space {
    width: var(--w);
    height: 2rem;
}

main {
    position: relative;
    width: var(--w);
    margin: auto;
}

footer {
    position: relative;
    width: var(--w);
    margin: auto;
}

.hidden {
    display: block;
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

a {
    color: white;
    text-decoration: none;
}

/* NAVIGATION BAR AND LOGO */

#nav-bar {
    margin: 0 auto;
    width: var(--w);
    height: 2rem;
}

#header-img {
    float: left;
    height: 100%;
    width: auto;
    margin-left: 1rem;
}

#nav-links {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 2rem;
    margin-right: 1rem;
}

.nav-link {
    margin: 0 0 0 4rem;  
}

/* BANNER */

    /* TITLE + SUBTITLE */

#titlebox {
    position: relative;
    display: inline-block;
    margin: 1rem 0;
}

#title-1, #title-2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: white;
}

#title-1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-left: -40rem;
    animation: t1move 2s cubic-bezier(0,.8,.1,1) forwards;
    animation-delay: 200ms;
}
            @keyframes t1move {
                from {margin-left: -40rem;}
                to {margin-left: 1rem;}
            }

#title-2 {
    font-size: 5rem;
    line-height: 5rem;
    margin-top: -0.5rem;
    margin-left: -40rem;
    animation: t2move 2s cubic-bezier(0,.8,.1,1) forwards;
    animation-delay: 700ms;
}
            @keyframes t2move {
                from {margin-left: -40rem;}
                to {margin-left: 2rem;}
            }

#subtitle {
    margin-top: -0.5rem;
    margin-left: -40rem;
    padding: 0;
    font-size: 1.28rem;
    font-weight: 400;
    color: #d2faff;
    animation: stmove 2s cubic-bezier(0,.8,.1,1) forwards;
    animation-delay: 500ms;
}
            @keyframes stmove {
                from {margin-left: -40rem;}
                to {margin-left: 2.2rem;}
            }

    /* SHIP */

#ship {
    position: absolute;
    margin: 2rem 0;
    width: 60%;
    height: auto;
    right: -40rem;
    animation: shipmove 2s cubic-bezier(0,.8,.1,1) forwards;
    animation-delay: 500ms;
    z-index: -1;
}
            @keyframes shipmove {
                from {right: -40rem;}
                to {right: -5rem;}
            }

/* BENEFITS */

#benefits {
    margin-top: 3rem;
    margin-left: 1rem;
}

.benefits-item {
    margin-bottom: 1rem;
}

.big {
    font-size: 2.2rem;
    font-weight: 600;
    color: #FFCC00;
    line-height: 2.2rem;
    margin: 0;
}

.small {
    font-size: 1rem;
    color: #D2FAFF;
    line-height: 0.5rem;
    margin: 0 0 0.5rem 0.1rem;
}

/* FORM */



/* FOOTER */